@layer fonts{
/* red-hat-display-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/red-hat-display-v21-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/red-hat-display-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/red-hat-display-v21-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
}
@layer colors{
    :root{
        --white:hsl(0, 0%, 100%);
        --black:hsl(0, 0%, 0%);
        --gray-600:hsl(224, 23%, 55%);
        --purple-500:hsl(245, 83%, 68%);
        --blue-50:hsl(225, 100%, 98%);
        --blue-100:hsl(225, 100%, 94%);
        --blue-150:hsl(224, 100%, 92%);
        --blue-700:hsl(245, 75%, 52%);
        --blue-950:hsl(223, 47%, 23%);


        
    }
}
@layer spaces{
  :root{
    --s-48px:calc(48 / 16 * 1rem);
    --s-43px:calc(43 /16 *1rem);
    --s-16px:1rem;
    --s-24px: calc(24 /16 * 1rem);
    --s-32px:calc(32 / 16 * 1rem);
    --s-26px: calc( 26 /16 *1rem);
    --s-8px:calc( 8 / 16 * 1rem);
    --s-12px:calc( 12 /16 * 1rem);
    --s-97px: calc(97 /16 * 1rem);
    
  }

}   

@layer css-reset{
    /* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
}

body{
     font-family: 'Red Hat Display';
     background-color: var(--blue-150);
     font-size: 1rem;
     line-height: 1.65;
     font-weight: 500;
     color: var(--gray-600);
}
article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}
.order-summary-component{
  background-color: var(--white);
  max-width: calc(450 /16 * 1rem);
  padding: var(--s-48px) var(--s-48px)  var(--s-43px);
}
.order-summary-component__title{
  font-size: calc(28 / 16 * 1rem);
  line-height: 1.35;
  padding-bottom: var(--s-16px);
 
}
.order-summary-component__title,
.order__name{
  font-weight: 900;
  color: var(--blue-950);
}
.order-summary-component__description{
  padding-inline: var(--s-8px);
}
.order-summary-container{
  text-align: center;
  padding-inline: var(--s-8px);
}
.order{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-block: var(--s-16px) var(--s-24px);
  padding: var(--s-24px);
  background-color: var(--blue-50);
 }
 .order-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--s-16px);
 }
 .change-order{
  text-decoration: none;
  font-weight: 700;
  color: var(--blue-700);
 }
 .change-order:active{
  color: var(--purple-500);
 }

 .buttons a{
  display: block;
  text-align: center;
  text-decoration: none;
  
 }
 .proceedToPayment{
  /* padding: var(--s-12px)  var(--s-97px); */
  padding-block: var(--s-12px);
  margin-bottom: var(--s-32px);
  background-color: var(--blue-700);
  color: var(--white);
  font-weight: 900;
  box-shadow: 0px 20px 20px var(--blue-150);

 }
  .proceedToPayment:active{
  background-color: var(--purple-500);
 }
.cancelOrder{
 color: var(--gray-600);
 font-weight: 900;
}
.cancelOrder:active{
  color: var(--blue-950);
}
.round-top{
  border-top-right-radius:10px;
  border-top-left-radius: 10px;
}
.round-bottom{
  border-bottom-right-radius:10px;
  border-bottom-left-radius: 10px;
}

.round{
  border-radius: 10px;
}
 @media(width<=calc(450 /16 * 1em)){
  body{
    font-size: calc(15 / 16 * 1rem);
  }
  .order-summary-component{
    padding: var(--s-32px) var(--s-32px)  var(--s-26px);
  }
  .order-summary-component__title{
    font-size: calc(22 /16 * 1rem);
  }
  .order{
    padding: var(--s-16px);
  }
  .proceedToPayment{
    margin-bottom: var(--s-24px);
  }
 }

 